/* My Face */

.profile{
	background-image: url('/assets/imgs/andrew-mobile.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right center;
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 7rem;
	
	height: calc(100vh - 95px);

	@include wider-than(phablet){
		height: calc(100vh - 72px);
		background-image: url('/assets/imgs/andrew-scroll.jpg');
		background-size: auto 600%;
		background-repeat: repeat-y;
		background-attachment: fixed;
		background-position: center center;
		background-color: rgb(245, 245, 245);
		padding-top: 14rem;
		padding-bottom: 10rem;
		
		@include animation-name(flicker);
		@include animation-duration(1s);
		@include animation-direction(alternate-reverse);
		@include animation-timing-function(steps(1));
		@include animation-iteration-count(infinite);
		@include animation-fill-mode(forwards);
	}
}

.masthead{
    padding: 0 10px;
    width: 90%;	
  	text-align: left;
    br{ display: none; }

    @include wider-than(tablet){
	    text-align: center;
	    width: 60%;
	    br{ display: block; }
    }

    @include wider-than(desktop){
    	width: 50%;
    }
}


@include keyframes(flicker){
	$left: 50%;
	0% 		{	background-position: $left 0;	}
	20%		{ 	background-position: $left 24%;	}
	40%		{ 	background-position: $left 48%;	}
	60%		{ 	background-position: $left 72%;	}
	80%		{ 	background-position: $left 96%;	}
}
