/* My Face */

// .profile {
// 	background-image: url('/assets/imgs/eve_device.jpg');
// 	background-size: cover;
// 	background-repeat: no-repeat;
// 	background-position: right center;
// 	text-align: center;
// 	padding-top: 2rem;
// 	padding-bottom: 7rem;

// 	height: calc(100vh - 95px);

// 	@include wider-than(phablet){
// 		height: 										calc(100vh - 72px);
// 		background-image: 					url('/assets/imgs/eve_scroll.jpg');
// 		background-size: 						auto 400%;
// 		background-repeat: 					repeat-y;
// 		background-attachment: 			fixed;
// 		background-position: 				center center;
// 		background-color: 					#fcfcfc;
// 		padding-top: 								14rem;
// 		padding-bottom: 						10rem;

// 		animation-name: 						flicker;
// 		animation-duration: 				1s;
// 		animation-direction: 				normal;
// 		animation-timing-function: 	steps(3);
// 		animation-iteration-count: 	infinite;
// 		animation-fill-mode: 				forwards;
// 	}
// }

.profile {
  background-color: white;
  background-image: url('/assets/imgs/illo-andrew.jpg');
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 7rem;

  height: calc(100vh - 95px);
  background-size: 20em auto;
  background-repeat: no-repeat;
  background-position: center 18rem;

  @include wider-than(tablet){
    background-repeat: no-repeat;
    background-size: 20em auto;
    background-position: 90% center;
    height: calc(100vh - 72px);
    padding-top: 14rem;
    padding-bottom: 10rem;
  }
}

.masthead{
    padding: 0 10px;
    width: 90%;
  	text-align: left;
    // br{ display: none; }

    @include wider-than(tablet){
	    width: 60%;
	    br{ display: block; }
    }

    @include wider-than(desktop){
    	width: 60%;
    }
}


@include keyframes(flicker){
	$left: 100%;
	0% 		{	background-position: $left 0;	}
	100%		{ 	background-position: $left 100%;	}
}
